-- subServer --

# about goormide file
.flowconfig
goorm.manifest

# packages
node_modules/

# execuable
processBlur
processInverse

# processed image files
inputImages/*
outputImages/*

-- mainServer --


-- mainClient --
