
# about goormide file - subServer
.flowconfig
goorm.manifest

# packages - mainServer,mainClient,subServer
node_modules/

# execuable - mainServer,subServer
processBlur
processInverse

# processed image files - mainServer,subServer
inputImages/*
outputImages/*

