body, html {
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 90vh;
}

/*이미지*/
.imgRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-bottom: 10px;
}
.imgBox {
    border: 1.5px dashed black;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*cursor: pointer;*/
    position: relative;
}
.img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*선택옵션리스트*/
.optRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 30%;
    align-items: stretch;
}
.selectOpColumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20%;
    margin: 5px;
    overflow: auto;
    border: 1.5px solid black;
}
.selectOpBtn {
    font-size: 0.9vw;
}

/*추가옵션*/
.addMoreOp {
    width: 60%;
    border: 1.5px solid black;
    margin: 5px;
    background-color: #eee;
    padding: 1px;
}
.opName {
    margin: 5px;
    background-color: aquamarine;
    border: 1.5px solid black;
    padding: 0px;
    margin: 2px;
    font-size: 1.3vh;
}



/*적용옵션리스트*/
.selectedOpColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5px;
    overflow: auto;
    border: 1.5px solid black;
}
.selectedOpRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 1.7px 6px;
    justify-content: space-between;
    border: 0.25px solid grey;
}

